<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary" disabled="@ViewData["share-btn-disabled"]" data-toggle="modal" data-target="#shareModal">Share</button>
        <button class="btn btn-sm btn-outline-secondary" disabled="@ViewData["schedule-btn-disabled"]" data-toggle="modal" data-target="#scheduleModal">Schedule</button>
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" disabled="@ViewData["export-btn-disabled"]" data-toggle="dropdown">Export</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="@(ViewData["export-pdf-link"] == null ? "#" : ViewData["export-pdf-link"])">as PDF</a>
            <a class="dropdown-item" href="@(ViewData["export-png-link"] == null ? "#" : ViewData["export-png-link"])">as PNG</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#csvModal">as CSV</a>
        </div>
    </div>
</div>

<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Share Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Report will be emailed in PDF format.</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="scheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Schedule Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Send">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <span style="font-weight:bold">How often would you like to receive this report?</span>
                <form>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="frequencyRadio" id="defaultCheck1" />
                            <label class="form-check-label" for="defaultCheck1">
                                Monthly
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="frequencyRadio" id="defaultCheck2" />
                            <label class="form-check-label" for="defaultCheck2">
                                Daily
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="frequencyRadio" id="defaultCheck3" />
                            <label class="form-check-label" for="defaultCheck3">
                                Weekly on the following days:
                            </label>
                        </div>
                    </div>

                    <div class="form-group" style="padding-left: 20px;">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="wk-sun" value="sun">
                            <label class="form-check-label" for="sun">Sun</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="wk-mon" value="mon">
                            <label class="form-check-label" for="mon">Mon</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="tue" value="tue">
                            <label class="form-check-label" for="tue">Tue</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="wed" value="wed">
                            <label class="form-check-label" for="wed">Wed</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="thu" value="thu">
                            <label class="form-check-label" for="thu">Thu</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="fri" value="fri">
                            <label class="form-check-label" for="fri">Fri</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="sat" value="sat">
                            <label class="form-check-label" for="inlineCheckbox1">Sat</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1" style="font-weight:bold">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">Reports will be emailed in PDF format until unsubscribed.</small>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="csvModal" tabindex="-1" role="dialog" aria-labelledby="csvModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Generating CSV...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>                </div>
                    <div style="font-weight:bold">This feature has not been fully implemented yet, so it might take a while!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
