@model IEnumerable<Telebix.Models.AppEvent>

@{
    ViewData["Title"] = "Application Log Detail";
}

<div class="container-fluid">
    <div class="row">
        <partial name="_ReportNav" />

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Application Log Detail</h1>
                <partial name="_ShareExport" />
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <table class="table-striped">
                    <thead>
                        <tr>
                            <th>
                                Clinic Name
                            </th>
                            <th>
                                # Successful
                            </th>
                            <th>
                                # Failed
                            </th>
                            <th>
                                Failure Rate
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            //Group results by clinic
                            var groups = Model
                                .GroupBy(e => e.ClinicName)
                                .Select(g => new
                                {
                                    Name = g.Key,
                                    Successful = g.Count(e => e.Success == true),
                                    Failed = g.Count(e => e.Success == false)
                                });


                            ////Nested group by clinic name, phone ID
                            //var groups = from appEvent in Model
                            //             group appEvent by appEvent.ClinicName into clinicGroup
                            //             from phoneGroup in
                            //             (from appEvent in clinicGroup
                            //              group appEvent by appEvent.UserId)
                            //             group phoneGroup by clinicGroup.Key
                            //             ;


                            //Group results by clinic
                            //var groups = from appEv in Model
                            //             group appEv by appEv.ClinicName into clinicGroup
                            //             orderby clinicGroup.Key
                            //             select clinicGroup;


                        }

                        @foreach (var clinicGroup in groups)
                        {
                        <tr>
                            <td>@clinicGroup.Name</td>
                            <td>@clinicGroup.Successful</td>
                            <td>@clinicGroup.Failed</td>
                            <td>
                                @{ double pct = (double)clinicGroup.Failed / (clinicGroup.Successful + clinicGroup.Failed); }
                                @String.Format("{0:0.0%}", pct)
                            </td>
                        </tr>
                            <tr>
                                <td colspan="4">
                                    @{
                                            var phones = Model
                                                .Where(e => e.ClinicName == clinicGroup.Name)
                                                .GroupBy(e => e.UserId)
                                                .Select(g => new
                                                {
                                                    Name = g.Key,
                                                    Successful = g.Count(e => e.Success == true),
                                                    Failed = g.Count(e => e.Success == false)
                                                });

                                        }
                                    <table class="table">
                                        @foreach (var phoneGroup in phones) {
                                            <tr>
                                                <td>@phoneGroup.Name</td>
                                                <td>@phoneGroup.Successful</td>
                                                <td>@phoneGroup.Failed</td>
                                                <td>subcount3</td>
                                            </tr>
                                        }

                                    </table>
                                </td>
                            </tr>
                        }




                        @*@foreach (var clinic in groups)
                        {
                            <tr>
                                <td>@clinic.Key</td>
                                <td>@clinic.Count(e => e.Success == true)</td>
                                <td>@clinic.Count(e => e.Success == false)</td>
                                <td>failure rate</td>
                            </tr>

                        }*@

                        @*@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClinicName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppVersion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AndroidVersion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Success)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
            </tr>
        }*@
                    </tbody>
                </table>

            </div>
        </main>
    </div>
</div>

