@model IEnumerable<Telebix.Models.AppEvent>

@{
    Layout = null;
}

<ul>
    <li><b>Assigned Clinic:</b> @Model.First().ClinicName</li>
    <li><b>User ID:</b> @Model.First().UserId</li>
    <li><b>Installed App Version:</b> @Model.First().AppVersion</li>
    <li><b>OS Version:</b> @Model.First().AndroidVersion</li>
</ul>

<h6>Recent Device Results</h6>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th style="text-align:left">
                @Html.DisplayNameFor(model => model.EventDt)
            </th>
            <th style="text-align:center">
                Success?
            </th>
            <th style="text-align:center">
                Value
            </th>
            <th style="text-align:left">
                @Html.DisplayNameFor(model => model.Message)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.EventDt)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Success)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Value)
            </td style="text-align:center">
            <td style="text-align:left">
                @Html.DisplayFor(modelItem => item.Message)
            </td>
        </tr>
}
    </tbody>
</table>
